*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.wrapper{
    text-align: center;
    background-color: #7D8F69;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .app{
    background-color: #E6E5A3;
    padding: 2rem;
    border-radius: 10px;
  }

  
  .input {
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .app h1 , .app a  , .app h3{
    margin: 2rem;
  }